.message
  .message__upper-info
    .message__upper-info__talker 
      = message.user.name
    .message__upper-info__date 
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__text 
    - if message.body.present?
      %p.message__text__body 
        = message.body
    = image_tag message.image.url, class: 'message__text__image' if message.image.present?