.chat-main {
  width: calc(100vw - 300px);
  .main-header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    box-sizing: border-box;
    border-bottom: solid 1px $border;
    &__left-box {
      float: left;
      &__current-group {
      font-size: 20px;
      color: #333;
      margin-top: 35px;
      }
      &__member-list {
        color: #999999;
        font-size: 12px;
        margin-bottom: 15px;
        display: flex;
        &___member {
          display: inline-block;
          padding-right: 5px;
        }
      }    
     }
    .btn {
      height: 40px;
      text-decoration: none;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $light-blue;
      float: right;
      color: $light-blue;
    }
  }

  .messages {
    box-sizing: border-box;
    height: calc(100% - 100px - 90px);
    padding: 46px 40px 0;
    background-color: #fafafa;

    .message {
      box-sizing: border-box;
      padding-bottom: 40px;
      &__upper-info {
        display: flex;
        
        &__talker {
          font-size: 16px;
          font-style: bold;
          color: $kuro;
          }

      &__date {
          font-size: 12px;
          color: #999999;
          padding-left: 10px;
          }
      }
      &__text {
      margin-top: 10px;
      font-size: 14px;
      color: $kuro;
      margin-bottom: 40px;
      }
    }
  }
    
  .form {
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
      .input-box {
        display: flex;
        position: relative;
        &__text {
          height: 50px;
          width: calc(100% - 155px);
          padding: 0 40px 0 10px;
          border-style: none;
          font-size: 16px;
          color: $kuro;
          border: none;
          line-height: 16px;
        }
        &__image {
          padding-right: 10px;
          position: absolute;
          width: 10%;
          right: 60px;
          top: 15px;
             &__camera {
             display:none;
             }
        }
      }
      .submit {
        background-color: #38AEF0;
        width: 100px;
        height: 50px;
        float: right;
        padding: 0 30px;
        position: relative;
        bottom: 50px;
        color: $white;
      }

  }
} 

